/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2022 Andrew Vojak <andrew.vojak@gmail.com>
 */

.guess-incorrect {
    background-color: @SILVER_500;
    border: 1px solid @SILVER_900;
}

.key-pressed {
    transform: translateY(2px);
}

.faded {
    transition-property: opacity, filter;
    transition-duration: 0.5s;
    filter: blur(8px);
    opacity: 0.3;
}

/* Derived from https://codepen.io/dmytrous/pen/vgoWxY */
.jiggle {
    animation: jiggle-animation 3.72s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes jiggle-animation {
    0% { transform:rotate(0turn); }
    1.78571% { transform:rotate(0.04turn); }
    3.57143% { transform:rotate(0turn); }
    5.35714% { transform:rotate(0.04turn); }
    7.14286% { transform:rotate(0turn); }
    8.92857% { transform:rotate(0.04turn); }
    10.71429% { transform:rotate(0turn); }
    100% { transform:rotate(0turn); }
}